In [1]:
import pandas as pd
import json
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password =  '243258',
        database = 'DataModel4'
        )
mycursor = mydb.cursor()

In [22]:
# mycursor.execute('CREATE DATABASE DataModel4')

In [7]:
pd.options.display.max_rows

60

In [9]:
pd.options.display.max_columns = 30

# Table Modcloth_Final_Data

In [56]:
with open('modcloth_final_data.json', encoding = 'utf-8') as f:
    data_1 =[json.loads(line) for line in f]
data_1[0]

{'item_id': '123373',
 'waist': '29',
 'size': 7,
 'quality': 5,
 'cup size': 'd',
 'hips': '38',
 'bra size': '34',
 'category': 'new',
 'bust': '36',
 'height': '5ft 6in',
 'user_name': 'Emily',
 'length': 'just right',
 'fit': 'small',
 'user_id': '991571'}

In [57]:
modcloth_final_data = pd.DataFrame(data_1)
modcloth_final_data

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29,7,5.0,d,38,34,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31,13,3.0,b,30,36,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30,7,2.0,b,NaN,32,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.00,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,NaN,8,4.0,b,NaN,36,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.50,average,Cute jacket!,Cute jacket!
82786,807722,NaN,12,5.0,ddd/f,NaN,34,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,NaN,12,5.0,dddd/g,36.0,32,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [58]:
modcloth_final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82790 entries, 0 to 82789
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         82790 non-null  object
 1   waist           2882 non-null   object
 2   size            82790 non-null  int64
 3   quality         82722 non-null  float64
 4   cup size        76535 non-null  object
 5   hips            56064 non-null  object
 6   bra size        76772 non-null  object
 7   category        82790 non-null  object
 8   bust            11854 non-null  object
 9   height          81683 non-null  object
 10  user_name       82790 non-null  object
 11  length          82755 non-null  object
 12  fit             82790 non-null  object
 13  user_id         82790 non-null  object
 14  shoe size       27915 non-null  object
 15  shoe width      18607 non-null  object
 16  review_summary  76065 non-null  object
 17  review_text     76065 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 11.4+ MB

In [59]:
modcloth_final_data['bust'].unique()

array(['36', nan, '39', '34', '43', '35', '38', '33', '40', '41', '44',
       '45', '37', '30', '32', '42', '48', '46', '51', '25', '31', '26',
       '52', '22', '50', '47', '56', '58', '49', '54', '55', '53', '27',
       '28', '29', '20', '57', '23', '37-39', '24', '59'], dtype=object)

In [60]:
modcloth_final_data['review_text'].unique()

array([nan,
       'I liked the color, the silhouette, and the fabric of this dress. But the ruching just looked bunchy and ruined the whole thing. I was so disappointed, I really waned to like this dress. Runs a little small; I would need to size up to make it workappropriate.',
       "From the other reviews it seems like this dress either works for your body type or it doesn't. I have a small waist but flabby tummy and this dress is perfect for me! The detail around the front hides everything and the clingyness of the dress makes me look curvier than usual. The material is thick but clings to your bum (enough that when you walk the bum jiggle shows through!) and the slit is a bit high so it's not necessarily office appropriate without tights, but it's a good dress with tights or for an occasion.",
       ...,
       'I love this blazer. It is a great office piece for summertime in the south, and I got tons of compliments the first day I wore it.',
       'I love this blazer!! I wore it yesterday and got several compliments. It looks sharp and is very comfortable.',
       "I love this piece. I'm really happy with it!"], dtype=object)

In [61]:
modcloth_final_data.columns

Index(['item_id', 'waist', 'size', 'quality', 'cup size', 'hips', 'bra size',
       'category', 'bust', 'height', 'user_name', 'length', 'fit', 'user_id',
       'shoe size', 'shoe width', 'review_summary', 'review_text'],
      dtype='object')

# Replace NaN => None

### Convert 2 columns to type object

In [62]:
convert_dict = {'size': object, 'quality' : object}
modcloth_final_data = modcloth_final_data.astype(convert_dict)

In [63]:
modcloth_final_data_None = modcloth_final_data.where(pd.notnull(modcloth_final_data), None)
modcloth_final_data_None

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29,7,5.0,d,38,34,new,36,5ft 6in,Emily,just right,small,991571,None,None,None,None
1,123373,31,13,3.0,b,30,36,new,None,5ft 2in,sydneybraden2001,just right,small,587883,None,None,None,None
2,123373,30,7,2.0,b,None,32,new,None,5ft 7in,Ugggh,slightly long,small,395665,9.00,None,None,None
3,123373,None,21,5.0,dd/e,None,None,new,None,None,alexmeyer626,just right,fit,875643,None,None,None,None
4,123373,None,18,5.0,b,None,36,new,None,5ft 2in,dberrones1,slightly long,small,944840,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,None,8,4.0,b,None,36,outerwear,None,5ft 8in,Jennifer,just right,fit,727820,8.50,average,Cute jacket!,Cute jacket!
82786,807722,None,12,5.0,ddd/f,None,34,outerwear,None,5ft 5in,Kelli,slightly long,small,197040,None,None,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,None,12,5.0,dddd/g,36.0,32,outerwear,None,5ft 4in,elacount,just right,fit,102493,None,None,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,None,12,4.0,None,None,None,outerwear,None,5ft 3in,jennaklinner,just right,fit,756491,None,None,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,None,4,4.0,d,39.0,32,outerwear,None,6ft,maireadsteadman,just right,fit,78305,None,None,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [64]:
convert_dict = {'size': int, 'quality' : float}
modcloth_final_data = modcloth_final_data.astype(convert_dict)

# Create Table Modcloth_Final_Data

In [65]:
# mycursor.execute('''DELETE FROM Modcloth_Final_Data''')

In [67]:
#  mycursor.execute('''DROP TABLE Modcloth_Final_Data''')

In [68]:
mycursor.execute('''CREATE TABLE Modcloth_Final_Data(
                item_id int,
                waist int,
                size int,
                quality float,
                cup_size varchar(20),
                hips int,
                bra_size int,
                category varchar(20),
                bust varchar(10),
                height varchar(20),
                user_name varchar(30),
                length varchar(20),
                fit varchar(20),
                user_id int,
                shoe_size float,
                shoe_width varchar(20),
                review_summary nvarchar(200),
                review_text text
                )
                ''')

# Insert Values Into Modcloth_Final_Data

In [69]:
tb_modcloth_final_data = (''' INSERT INTO Modcloth_Final_Data(item_id, waist, size, quality,cup_size, hips, bra_size, category,
                                                                bust,height,user_name,length,fit,user_id,shoe_size,
                                                                shoe_width,review_summary,review_text)
                                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                        ''')

In [70]:
for i, row in modcloth_final_data_None.iterrows():
    mycursor.execute(tb_modcloth_final_data, list(row))
mydb.commit()

In [53]:
mycursor.execute('''SELECT * FROM Modcloth_Final_Data LIMIT 5''')

myresult = mycursor.fetchall()

print(myresult)

[(123373, 29, 7, 5.0, 'd', 38, 34, 'new', '36', '5ft 6in', 'Emily', 'just right', 'small', 991571, None, None, None, None), (123373, 31, 13, 3.0, 'b', 30, 36, 'new', None, '5ft 2in', 'sydneybraden2001', 'just right', 'small', 587883, None, None, None, None), (123373, 30, 7, 2.0, 'b', None, 32, 'new', None, '5ft 7in', 'Ugggh', 'slightly long', 'small', 395665, 9.0, None, None, None), (123373, None, 21, 5.0, 'dd/e', None, None, 'new', None, None, 'alexmeyer626', 'just right', 'fit', 875643, None, None, None, None), (123373, None, 18, 5.0, 'b', None, 36, 'new', None, '5ft 2in', 'dberrones1', 'slightly long', 'small', 944840, None, None, None, None)]

# Table Renttherunway_Final_Data

In [3]:
with open('renttherunway_final_data.json', encoding = 'utf-8') as f:
    data_2 =[json.loads(line) for line in f]
data_2[0]

{'fit': 'fit',
 'user_id': '420272',
 'bust size': '34d',
 'item_id': '2260466',
 'weight': '137lbs',
 'rating': '10',
 'rented for': 'vacation',
 'review_text': "An adorable romper! Belt and zipper were a little hard to navigate in a full day of wear/bathroom use, but that's to be expected. Wish it had pockets, but other than that-- absolutely perfect! I got a million compliments.",
 'body type': 'hourglass',
 'review_summary': 'So many compliments!',
 'category': 'romper',
 'height': '5\' 8"',
 'size': 14,
 'age': '28',
 'review_date': 'April 20, 2016'}

In [4]:
renttherunway_final_data = pd.DataFrame(data_2)
renttherunway_final_data

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016"
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016"
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016"
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015"
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017"

In [72]:
renttherunway_final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192544 entries, 0 to 192543
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   fit             192544 non-null  object
 1   user_id         192544 non-null  object
 2   bust size       174133 non-null  object
 3   item_id         192544 non-null  object
 4   weight          162562 non-null  object
 5   rating          192462 non-null  object
 6   rented for      192534 non-null  object
 7   review_text     192544 non-null  object
 8   body type       177907 non-null  object
 9   review_summary  192544 non-null  object
 10  category        192544 non-null  object
 11  height          191867 non-null  object
 12  size            192544 non-null  int64
 13  age             191584 non-null  object
 14  review_date     192544 non-null  object
dtypes: int64(1), object(14)
memory usage: 22.0+ MB

In [76]:
renttherunway_final_data['size'].unique()

array([14, 12,  4,  8, 21,  1, 20,  2, 17, 16, 28, 36, 35, 24, 15,  5, 51,
       32, 23, 48, 45,  9, 13, 34, 39,  7, 25, 58, 26, 57, 29, 11,  0, 40,
        3, 33, 27, 43, 42, 19, 44, 54, 38, 10, 49, 52, 46,  6, 37, 22, 56,
       50, 41, 30, 55, 18], dtype=int64)

In [6]:
renttherunway_final_data.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"

# Replace NaN => None

In [8]:
renttherunway_final_data_None = renttherunway_final_data.where(pd.notnull(renttherunway_final_data), None)

# Convert DataTime

In [9]:
renttherunway_final_data_None['review_date'] = renttherunway_final_data_None['review_date'].astype('datetime64[ns]')

# Create Table Renttherunway_Final_Data

In [77]:
mycursor.execute('''CREATE TABLE Renttherunway_Final_Data(
                fit varchar(15),
                user_id int,
                bust_size varchar(20),
                item_id int,
                weight varchar(20),
                rating int,
                rented_for varchar(20),
                review_text text,
                body_type varchar(30),
                review_summary text,
                category varchar(20),
                height varchar(20),
                size int,
                age int,
                review_date datetime
                )
                ''')

# Insert Values Into Renttherunway_Final_Data

In [10]:
tb_renttherunway_final_data = ('''
                            INSERT INTO Renttherunway_Final_Data(fit, user_id, bust_size, item_id, weight, rating,rented_for,
                                                review_text,body_type, review_summary, category, height, size, age, review_date)
                            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                                                                
                    ''')

In [11]:
for i, row in renttherunway_final_data_None.iterrows():
    mycursor.execute(tb_renttherunway_final_data, list(row))
mydb.commit()

In [13]:
mycursor.execute('''SELECT review_text FROM Renttherunway_Final_Data''')
myresult = mycursor.fetchone()

print(myresult)

("An adorable romper! Belt and zipper were a little hard to navigate in a full day of wear/bathroom use, but that's to be expected. Wish it had pockets, but other than that-- absolutely perfect! I got a million compliments.",)